<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apw_iphone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.0.4.2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE28E0D50D3F7DF8E4D52F80CC134CF1608AB50A</string>
				<key>dateExpires</key>
				<string>2023/04/12</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2A42JHEYM4.jp.yahoo.apw-iphone</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2A42JHEYM4</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2A42JHEYM4.jp.yahoo.apw-iphone</string>
				</array>
			</dict>
			<key>name</key>
			<string>apw_iphone.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e8e45e13-649f-4d5b-923a-cff183858a85</string>
				<key>dateExpires</key>
				<string>2023/04/13</string>
				<key>name</key>
				<string>yahoo Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2A42JHEYM4</string>
				<key>name</key>
				<string>ASNO System Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.4</string>
		</dict>
	</array>
</dict>
</plist>
