<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apw_iphone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.0.3.2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CC47A6F9CD4313E5263F66BB83CFFF4E1AC81128</string>
				<key>dateExpires</key>
				<string>2022/11/12</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2A42JHEYM4.jp.yahoo.apw-iphone</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2A42JHEYM4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2A42JHEYM4.jp.yahoo.apw-iphone</string>
				</array>
			</dict>
			<key>name</key>
			<string>apw_iphone.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e94e8ceb-0e2c-47e3-91be-55b9ff421aec</string>
				<key>dateExpires</key>
				<string>2022/12/08</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: jp.yahoo.apw-iphone</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2A42JHEYM4</string>
				<key>name</key>
				<string>ASNO System Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.3</string>
		</dict>
	</array>
</dict>
</plist>
